<script type="text/javascript">
$(function(){
cont = $('#ok');
$('table').visualize({type: 'bar',  width: '620px', colors:['#be1e2d','#666699','#92d5ea','#ee8310','#8d10ee','#5a3b16','#26a4ed','#f45a90','#e9e744', '#765435', '#FF76e4', '#90F6e4', '#9876e4', '#ef76e4', '#bbebeb', '#9c7ce4', '#c07c94', '#987AeF', '#1236e4', '#987123', '#111114', '#bb76bb', '#bc76e4']});

});
</script>
<div id="ok" style="float:left;"> </div>
<div >
<table >
	<caption>Your Top 20 Positive Facebook Friends</caption>
	<thead>
		<tr>
			<td></td>
			<th scope="col">Positvitiy on Facebook</th>
			
		</tr>
	</thead>
	<tbody>
		<% @top_fb.each do |single| %>
			<tr>
				<th scope="row"><%= single[:name] %></th>
				<td><%= single[:score] %></td>
			</tr>
		<% end %>
	</tbody>
</table>	
</div>
